@import "tailwindcss";

:root {
  --color-1: #f1f3f4;
  --color-2: #181818;
}

body {
  font-family: "Onest Variable", sans-serif;
  min-height: 100vh;
  background: var(--color-1);
  color: var(--color-2);
}

@utility bg-primary {
  background: var(--color-1);
}
@utility bg-secondary {
  background: var(--color-2);
}
@utility col-primary {
  color: var(--color-1);
}
@utility col-secondary {
  color: var(--color-2);
}
